<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">
    <insert id="insertarItem">
        insert into VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id)
        values (#{item.id},#{item.nombre},#{item.descripcion},#{item.fechalanzamiento},#{item.tarifaxdia},#{item.formatorenta},#{item.genero},#{item.TIPOITEM_id})
    </insert>

    <select id="consularItems" parameterType="map" resultMap="ItemResult">
        select
        
        c.nombre as nombre,
        c.documento as documento,
        c.telefono as telefono,
        c.direccion as direccion,
        c.email as email,
        c.vetado as vetado,
    
        ir.id as IR_id,
        ir.CLIENTES_documento as IR_documento,
        ir.fechainiciorenta as IR_fechainiciorenta,
        ir.fechafinrenta as IR_fechafinrenta,
    
        i.id as I_id,
        i.nombre as I_nombre,
        i.descripcion as I_descripcion,
        i.fechalanzamiento as I_fechalanzamiento,
        i.tarifaxdia as I_tarifaxdia,
        i.formatorenta as I_formatorenta,
        i.genero as I_genero,
        
        ti.id as TI_id,
        ti.descripcion as TI_descripcion
    
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
    </select>
    
    <select id="consularItem" parameterType="map" resultMap="ItemResult">
        select
        
        c.nombre as nombre,
        c.documento as documento,
        c.telefono as telefono,
        c.direccion as direccion,
        c.email as email,
        c.vetado as vetado,
    
        ir.id as IR_id,
        ir.CLIENTES_documento as IR_documento,
        ir.fechainiciorenta as IR_fechainiciorenta,
        ir.fechafinrenta as IR_fechafinrenta,
    
        i.id as I_id,
        i.nombre as I_nombre,
        i.descripcion as I_descripcion,
        i.fechalanzamiento as I_fechalanzamiento,
        i.tarifaxdia as I_tarifaxdia,
        i.formatorenta as I_formatorenta,
        i.genero as I_genero,
        
        ti.id as TI_id,
        ti.descripcion as TI_descripcion
    
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
        
        WHERE i.id = #{idit}
    </select>
    
    <resultMap id="ItemResult" type="Item" >
        <id property="id" column="id" />
        <result property="nombre" column="nombre" />
        <result property="descripcion" column="descripcion" />
        <result property="fechalanzamiento" column="fechalanzamiento" />
        <result property="tarifaxdia" column="tarifaxdia" />
        <result property="formatorenta" column="formatorenta" />
        <result property="genero" column="genero" />
        <association property="tipo" javaType="TipoItem" resultMap="TipoItemResult" columnPrefix="IR_I_TI_"/>
    </resultMap>
    
    <resultMap id="TipoItemResult" type="TipoItem" >
        <id property="id" column="id" />
        <result property="descripcion" column="descripcion" />
    </resultMap>
</mapper>